body {
    font-family: 'Segoe UI', sans-serif;
    font-size: small;
    margin: 0px;
}

.bodyContainer {
    margin: 8px;
}

    .bodyContainer .controlPanel {
        margin-bottom: 25px;
    }

#siteHeader {
    display: block;
    width: 100%;
    height: 70px;
    background-color: #D0E4F5;
    margin-bottom: 30px;
    border-bottom: #1a699c double 5px;
}

    #siteHeader h1 {
        margin: 0;
        padding: 0 0 0 8px;
        color: #1a699c;
    }

.donation {
    position: relative;
    font-size: 0.85em;
    font-style: italic;
    text-align: right;
    padding-right: 8px;
    display: block;
    clear: both;
    float: right;
}

.whatsNew {
    position: relative;
    font-size: 0.85em;
    display: block;
    float: right;
    clear: both;
    padding-right: 8px;
}
/* START of abbreviation formating */
abbr span, abbr div {
    font-family: Calibri;
}

abbr {
    cursor: help;
    text-decoration: none;
    border-bottom: 1px dotted rgba(0,0,0,0.4);
    border-radius: 8px;
}

    abbr:hover {
        background: rgba(0,0,0,0.1);
    }

div.tip {
    display: inline-block !important;
    margin: 0;
    background: red;
}

abbr span {
    position: absolute;
    left: -350px;
    width: 350px;
    display: none;
    z-index: 10;
    padding: 2px 4px 0;
    margin: 1.5em 0 0 8px;
    max-width: 0px;
    border: 1px solid #1a699c;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(33, 99, 0, 0.5);
    background: linear-gradient(#fff, #d0d0d0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 2s linear, opacity 2s linear;
    transition: visibility 2s linear, opacity 2s linear;
}

abbr:hover span {
    display: inline-block;
    max-width: 400px;
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
/* END of abbreviation formating */

.controlPanel .breedingCalcContainer {
    display: block;
    margin-bottom: 20px;
    float: left;
}

    .controlPanel .breedingCalcContainer .explanation {
        font-style: italic;
        font-size: 13px;
        float: left;
        display: block;
        clear: both;
    }

.controlPanel .ethFieldContainer {
    display: block;
    clear: both;
}

    .controlPanel .ethFieldContainer input#ethAddressInput {
        height: 28px;
        width: 350px;
        font-size: 13px;
        border: 1px solid #333;
        background: #333 url(Dependencies/jquery-ui-DotLuv/images/ui-bg_dots-small_20_333333_2x2.png) 50% 50% repeat;
        color: white;
        border-radius: 4px;
        padding-left: 5px;
    }

    .controlPanel .ethFieldContainer button#loadAxiesBtn {
        height: 32px;
        font-size: 13px;
        padding: 5px;
    }

#loader {
    display: block;
}

    #loader p {
        font-size: 15px;
    }

#pageReloadWarning {
    display: none;
    font-size: 0.90em;
    font-style: italic;
}

.input-disabled {
    background-color: #EBEBE4;
    border: 1px solid #ABADB3;
    padding: 2px 1px;
}

.dataTables_wrapper {
    width: max-content;
    width: fit-content;
}

/* Start of table styling */
table.dataTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    text-align: left;
    border-collapse: collapse;
    table-layout: auto;
}

    table.dataTable td, table.dataTable th {
        border: 1px solid #AAAAAA;
        padding: 3px 2px;
    }

    table.dataTable tbody tr.even:hover, table.dataTable tbody tr.odd:hover {
        background-color: rgba(0, 0, 0, 0.01);
    }

    /*table.dataTable tbody tr.even {
        background-color: rgba(0, 0, 0, 0.01);
    }*/

    table.dataTable tbody tr:last-child {
        text-align: left;
    }

    table.dataTable tbody td {
        padding: 0px 10px !important;
        font-size: 16px;
        text-transform: capitalize;
    }

        table.dataTable tbody td.centerAligned {
            text-align: center;
        }

        table.dataTable tbody td.beast {
            background-color: rgba(255, 184, 18, 0.10);
        }

        table.dataTable tbody td.aquatic {
            background-color: rgba(0, 184, 206, 0.10);
        }

        table.dataTable tbody td.plant {
            background-color: rgba(108, 192, 0, 0.10);
        }

        table.dataTable tbody td.bird {
            background-color: rgba(255, 139, 189, 0.10);
        }

        table.dataTable tbody td.bug {
            background-color: rgba(255, 83, 65, 0.10);
        }

        table.dataTable tbody td.reptile {
            background-color: rgba(200, 138, 224, 0.10);
        }

        table.dataTable tbody td.axieThumbnail {
            max-width: 172px;
            position: relative;
        }

            table.dataTable tbody td.axieThumbnail img {
                position: relative;
                max-width: 150px;
                top: -5px;
                height: 95px;
                object-fit: cover;
            }

    table.dataTable tbody td.axieThumbnail a {
        mix-blend-mode: multiply;
    }

    table.dataTable tbody td.axieThumbnail span {
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        font-weight: bold;
        text-align: center;
    }

    table .dataTable tbody td.axieThumbnail a {
        display: block;
    }

        table.dataTable tbody td.axieThumbnail a:hover {
            filter: grayscale(75%);
        }

    table.dataTable thead, .headerFilters {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
    }

        table.dataTable thead tr.headerFilters input {
            display: block;
            font-size: 11px;
            width: 100%;
            box-sizing: border-box
        }

        table.dataTable thead th {
            display: table-cell;
            font-size: 15px;
            font-weight: bold;
            color: #FFFFFF;
            border-left: 2px solid #D0E4F5;
            padding: 10px 6px !important;
        }

            table.dataTable thead th input#searchFieldThumbnail {
                visibility: hidden;
            }

            table .dataTable thead th:first-child {
                border-left: none;
            }

    table.dataTable tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        background: #D0E4F5;
        background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
        border-top: 2px solid #444444;
    }

        table.dataTable tfoot td {
            font-size: 14px;
        }

        table.dataTable tfoot .links {
            text-align: right;
        }

            table.dataTable tfoot .links a {
                display: inline-block;
                background: #1C6EA4;
                color: #FFFFFF;
                padding: 2px 8px;
                border-radius: 5px;
            }
    table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
        background-color: rgba(176, 190, 217, 0.5) !important;
    }

    table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
        background-position: top right !important;
    }
/* End of table styling */

.tooltipWindow {
    font-size: 0.85em !important;
}
